{% extends 'base.html'%}
{% block title %}My Cart{% endblock%}
{% block main%}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Items in my cart</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{cp.product.title}}</td>
                    <td>{{cp.quantity}}</td>
                    <td>{{cp.rate}}</td>
                    <td>{{cp.subtotal}}</td>
                    <td>
                        <a href="{% url 'ecomapp:managecart' cp.id%}?action=inc" class="btn btn-primary">+</a>
                        <a href="{% url 'ecomapp:managecart' cp.id%}?action=dcr" class="btn btn-warning">-</a>
                        <a href="{% url 'ecomapp:managecart' cp.id%}?action=rmv" class="btn btn-danger">X</a>
                    </td>
                    </tr>
                    {% endfor %}
                <tr>
                    <th colspan="4" class="text-right">Total</th>
                    <th>{{cart.total}}</th>
                    {% if cart.cartproduct_set.all %}
                    <th><a href="{% url 'ecomapp:emptycart'%}" class="btn btn-danger">Empty Cart</a></th>
                    {% endif %}
                </tr>
                <tr>
                    {% if cart.cartproduct_set.all %}
                    <th><a  class="btn btn-info" href="{% url 'ecomapp:checkout'%}">Checkout</a></th>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}