{% extends 'base.html'%}
{% block title %}Search{% endblock%}
{% block main%}
<style>
    .help-block{
      color : red;
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Search Result for <span class="text-success">"{{request.GET.keyword}}"</span></h3>
                 <hr>
                {% if results%}
                {% for result in results %}
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ result.image.url}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6">
                        <h4><a href="{% url 'ecomapp:productdetials' result.slug %}">{{result.title}}</a></h4>
                        <p>{{result.description}}</p>
                        <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>

                {%  endfor %}
                {%else%}
                <h2>No Result Found</h2>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}